.footer {
  @apply shadow-md bg-[#292524] w-full;
}

.footer-wrapper {
  @apply max-w-[1400px] mx-auto flex flex-col tb900:flex-row justify-between items-center py-6 gap-[2rem] text-xl-dk;
}

.footer-logo {
  @apply font-Rubik font-bold text-white;
}

.footer-social-links {
  @apply flex gap-6 font-Rubik;
}

.footer-social-link {
  @apply text-white hover:text-[#EA580C];
}

.footer-copyright {
  @apply text-[.75rem] text-white;
}
