.footer {
  @apply w-full tb900:absolute bottom-0 left-0 tb900:h-[78px];
  background-color: transparent;
  border-top: 1px solid #404040;
}

.footer-wrapper {
  @apply px-[24px] max-w-[1400px] mx-auto flex flex-col tb900:flex-row justify-between items-center py-6 gap-[2rem] text-xl-dk tb900:h-[78px];
  background-color: transparent;
}

.footer-logo a {
  @apply font-Rubik font-bold text-[#F5F5F5] cursor-pointer transition-all duration-300;
}

.footer-logo a:hover {
  color: #999999;
}

.footer-social-links {
  @apply flex gap-6 font-Rubik;
}

@media (min-width: 900px) {
  .footer-social-links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.footer-social-link {
  @apply text-[#F5F5F5] transition-all duration-300;
}

.footer-social-link a {
  @apply flex items-center justify-center;
}

.footer-social-link:hover {
  color: #999999;
  transform: none;
}

.footer-copyright {
  @apply text-[.75rem] text-[#666666];
}
