.projects-section {
  @apply  min-h-screen px-[10px] tb900:px-[1.75rem] pb-[4rem] relative bg-[#FFFBF5] to-slate-100;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.projects-section-scrolled {
  background-color: #EDE9E3;
}

/* Desktop: Add bottom border */
@media (min-width: 1024px) {
  .projects-section {
    @apply shadow-lg;
    border-bottom: 32px solid #78716C ;
  }
}

.projects-container {
  @apply max-w-[1000px] mx-auto relative;
  z-index: 10;
}

.projects-header {
  @apply mb-[3rem] flex flex-col gap-[1rem];
}

.projects-heading {
  @apply  flex items-center justify-center tb900:justify-start gap-[1rem];
}

.projects-icon {
  @apply w-[30px] h-[30px];
}

.projects-subheading {
  @apply text-center tb900:text-left;
}

.projects-divider {
  @apply hidden lg:block w-[100px] h-[3px] bg-[#78716C] mt-[4rem] mx-auto;
}
