@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500&family=Roboto:wght@500;700&family=Rubik:wght@400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent text and image selection globally */
* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.page-width {
  max-width: 1440px;
  margin: 0 auto;
}

#root {
  position: relative;
  background-color: #FFFBF5;
  min-height: 100vh;

}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #171717;
}

::-webkit-scrollbar-thumb {
  background-color: peru;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d39653;
}

/* BURGER MENU */

.hamburger {
  z-index: 100;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 24px;
  cursor: pointer;
  z-index: 10000;
  position: relative;
}

.hamburger-menu span {
  width: 24px;
  height: 3px;
  background-color: #292524;
  transition: transform 0.3s ease-in-out;
}

.hamburger-menu.cross span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
  background-color: #EA580C;
}

.hamburger-menu.cross span:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.cross span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: #EA580C;
}

/* Hide hamburger on desktop */
@media (min-width: 900px) {
  .hamburger-menu {
    display: none;
  }
}


/* section headings */
@layer components {
  .section-heading {
  @apply font-bold text-[#78716C] font-Mulish text-[1.25rem] tracking-[.5px];
  }
}
@layer components {
  .section-subheading {
  @apply font-Rubik font-bold text-[#292524] text-about-heading-dk ;
  }
}
/* body-text */
@layer components {
  .body-text {
  @apply font-Mulish text-gray-500 text-[1rem];
  }
}
/* buttons */

@layer components {
  .btn-primary {
  @apply transition duration-300 cursor-pointer items-center w-max px-[1rem] py-[.5rem] border font-bold rounded  bg-[#78716C] text-white uppercase hover:scale-105 tracking-[1px];
  }
}
@layer components {
  .btn-primary-b {
  @apply cursor-pointer items-center w-max px-[1rem] py-[.5rem] border font-bold rounded mt-[2rem] mb-[1rem] bg-[#292524] text-white uppercase hover:bg-[#78716C] tracking-[1px];
  }
}
@layer components {
  .btn-secondary {
  @apply flex items-center gap-[.5rem] border bg-[#292524] text-white h-[35px] py-[.25rem] px-[1.25rem] rounded hover:border-[#78716C] hover:bg-[#78716C] transition duration-200;
  }
}


/* header menu */
@layer components {
  .menu-item {
  @apply hover:text-[#78716C] font-Rubik font-bold text-l-dk transition-colors duration-200 ;
  }
}
/* about slider */
@layer components {
  .about-slide{
  @apply hover:text-[#78716C] cursor-pointer font-Rubik font-bold text-l-dk transition-colors duration-200 ;
  }
}
@layer components {
  .about-slide-gif {
  @apply hover:text-[#78716C] cursor-pointer font-Rubik font-bold text-l-dk transition-colors duration-200 ;
  }
}
.swiper-button-next, .swiper-button-prev {
  width: 30px !important;
  height: 30px !important;
}

.swiper-button-prev:after {
  /* display: none; */
}

.swiper-button-next:after, .swiper-button-prev:after {
  color: #78716C;
  font-weight: bold;
  font-size: .8rem !important;
  position: absolute;
  bottom: 0%;
  transition: all .2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 2px solid #78716C;
  background-color: rgba(255, 251, 245, 0.9);
}

.swiper-button-next:hover:after, .swiper-button-prev:hover:after  {
  background-color: #78716C;
  color: white;
  border-color: #78716C;
  transform: scale(1.3);
}
.swiper-pagination-bullet {
  display: none;
}

/* projects */
@layer components {
  .project-container {
  @apply  flex flex-col max-w-[445px] tb900:max-w-[1000px] mx-auto tb900:flex-row gap-[3rem] border-2 border-[#A8A29E] py-[2rem] px-[1rem] tb500:px-[2rem] tb500:py-[3rem] rounded bg-[#FFFBF5] transition-all duration-300 hover:shadow-md;
  }
}
@layer components {
  .project-container-kanban {
  @apply  flex flex-col max-w-[445px] tb900:max-w-[1000px] mx-auto tb900:flex-row-reverse gap-[3rem] border-2 border-[#A8A29E] py-[2rem] px-[1rem] tb500:px-[2rem] tb500:py-[3rem] rounded bg-[#FFFBF5] transition-all duration-300 hover:shadow-md;
  }
}
@layer components {
  .swiper-container {
  @apply  w-full h-min max-h-[452px] overflow-hidden rounded shadow-md tb900:w-[50%];
  }
}
@layer components {
  .swiper-slide {
  @apply  relative  w-full h-min max-h-[452px] ;
  }
}
@layer components {
  .swiper-container-kanban {
  @apply  w-full h-min relative overflow-hidden rounded shadow-md tb900:w-[50%];
  }
}

@layer components {
  .project-info-container {
  @apply   flex flex-col gap-[1rem] relative tb900:w-[50%] ;
  }
}

@layer components {
  .project-title {
  @apply  font-Rubik font-bold text-project-title-dk uppercase;
  }
}
@layer components {
  .project-title-sub {
    @apply font-Rubik font-bold
  }
}

@layer components {
  .project-details {
  @apply font-Mulish  text-gray-500 mb-[1.5rem] tb900:mb-4 text-center tb900:text-left;
  }
}
@layer components {
  .project-details-features {
  @apply font-Mulish  text-gray-500 mb-[1rem];
  }
}
@layer components {
  .project-tags {
  @apply flex flex-wrap gap-[.25rem] items-center justify-center tb900:justify-start;
  }
}
@layer components {
  .tag {
  @apply  text-[.8rem] border rounded-lg px-[.2rem] py-[.1rem];
  background-color: #E7E5E4;
  color: #292524;
  border-color: #A8A29E;
  }
}
@layer components {
  .project-tech-container {
  @apply  flex gap-[1rem] items-center justify-center tb900:justify-start mb-[1.5rem] tb900:mb-4  ;
  }
}

@layer components {
  .project-details-label {
  @apply font-Mulish text-gray-500 mr-[.5rem];
  }
}
@layer components {
  .project-skills-img {
  @apply w-[35px];
  }
}


/* contact */
@layer components {
  .contact-container {
  @apply  mx-auto px-[1rem] tb900:px-[2rem] py-[2rem] border-2 border-[#A8A29E] bg-[#FFFBF5]  rounded max-w-[445px] tb900:max-w-[1000px] transition-all duration-300 hover:shadow-md;
  }
}
@layer components {
  .contact-form-container {
  @apply flex flex-col tb900:flex-row w-full gap-[2rem] tb900:gap-[3rem] mb-[2rem];
  }
}
@layer components {
  .contact-input {
  @apply bg-[#FFFBF5] p-[.5rem] border-2 rounded ;
  }
}
@layer components {
  .contact-textarea {
  @apply min-h-[200px] p-[.5rem] border-2 rounded bg-[#FFFBF5] ;
  }
}
@layer components {
  .contact-error {
  @apply absolute bottom-[-25px] right-[8px] text-[.75rem] text-red-500 font-bold;
  }
}

.hero-img {
  border: 4px solid #292524;
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  transition: all 1s ease-in-out;
}
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
}
50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
}
100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
}
}


.icon-link a svg:hover {
  color: #EA580C;
}
.skill-icon-item {
  transition: .3s ease-in-out;
  cursor: pointer;
}
.skill-icon-item:hover {
  transform: translateY(-15px);
}
.skill-txt {
  opacity: 0;
}
.skill-icon-item:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  width: 100%;
  visibility: hidden;
  color: #292524;
  font-size: .65rem;
  line-height: 1rem;
  text-align: center;
  border-radius: 3px;
  padding: 3px;
  position: absolute;
  z-index: 1;
  bottom: -20px;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-family: 'Mulish';
  font-weight: bold;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}