@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500&family=Roboto:wght@500;700&family=Rubik:wght@400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.page-width {
  max-width: 1440px;
  margin: 0 auto;
}

#root {
  position: relative;
  background-color: #FAF9F6;
}


/* section headings */
@layer components {
  .section-heading {
  @apply font-bold text-babyblue font-Mulish mb-[1rem] text-[1.25rem] tracking-[.5px];
  }
}
@layer components {
  .section-subheading {
  @apply font-Rubik font-bold text-header-txt mb-[1.25rem] text-about-heading-dk ;
  }
}
/* body-text */
@layer components {
  .body-text {
  @apply font-Mulish text-gray-500 text-[1rem];
  }
}
/* buttons */

@layer components {
  .btn-primary {
  @apply cursor-pointer items-center w-max px-[1rem] py-[.5rem] border font-bold rounded mt-[2rem] mb-[1rem] bg-babyblue text-white uppercase hover:bg-babybluelight hover:scale-105 tracking-[1px];
  }
}
@layer components {
  .btn-primary-b {
  @apply cursor-pointer items-center w-max px-[1rem] py-[.5rem] border font-bold rounded mt-[2rem] mb-[1rem] bg-header-txt text-white uppercase hover:bg-babyblue tracking-[1px];
  }
}
@layer components {
  .btn-secondary {
  @apply flex items-center gap-[.5rem] border bg-header-txt text-white hover:border-header-txt py-[.25rem] px-[.75rem] rounded hover:bg-slate-200;
  }
}


/* header menu */
@layer components {
  .menu-item {
  @apply hover:text-babyblue cursor-pointer font-Rubik font-bold text-l-dk transition-colors duration-200 ;
  }
}

/* projects */
@layer components {
  .project-container {
  @apply  flex gap-[3rem] mx-auto  mb-[5rem] border-2 p-[2rem]  rounded bg-white;
  }
}
@layer components {
  .swiper-container {
  @apply  w-[50%] max-h-[400px] relative overflow-hidden rounded shadow-md;
  }
}

@layer components {
  .project-info-container {
  @apply   w-[50%] relative;
  }
}

@layer components {
  .project-title {
  @apply  font-Rubik font-bold text-project-title-dk uppercase mb-[.75rem];
  }
}
@layer components {
  .project-title-sub {
    @apply font-Rubik font-bold
  }
}

@layer components {
  .project-details {
  @apply font-Mulish  text-gray-500 mb-[1.5rem];
  }
}
@layer components {
  .project-details-features {
  @apply font-Mulish  text-gray-500 mb-[1rem];
  }
}
@layer components {
  .project-tags {
  @apply flex flex-wrap gap-[.25rem] mb-[2rem] items-center ;
  }
}
@layer components {
  .tag {
  @apply  text-[.8rem] border rounded-lg bg-slate-200  px-[.2rem] py-[.1rem];
  }
}
@layer components {
  .project-tech-container {
  @apply  flex gap-[1rem] items-center mb-[1.5rem];
  }
}

@layer components {
  .project-details-label {
  @apply font-Mulish text-gray-500 mr-[.5rem];
  }
}
@layer components {
  .project-skills-img {
  @apply w-[35px];
  }
}


/* contact */
@layer components {
  .contact-container {
  @apply max-w-[80%] mx-auto px-[2rem] py-[3rem] border-2 bg-white  rounded mb-[5rem];
  }
}
@layer components {
  .contact-form-container {
  @apply flex w-full h-[200px] gap-[3rem];
  }
}
@layer components {
  .contact-input {
  @apply bg-bgOffWhite p-[.5rem] border rounded;
  }
}
@layer components {
  .contact-textarea {
  @apply h-full p-[.5rem] border rounded bg-bgOffWhite;
  }
}
@layer components {
  .contact-error {
  @apply absolute bottom-[-25px] right-[8px] text-[.75rem] text-red-500 font-bold;
  }
}

.hero-img {
  border: 4px solid #292929;
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  transition: all 1s ease-in-out;
}
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
}
50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
}
100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
}
}


.icon-link a svg:hover {
  color: #147efb;
}
.skill-icon-item {
  transition: .3s ease-in-out;
  cursor: pointer;
}
.skill-icon-item:hover {
  transform: translateY(-15px);
}
.skill-txt {
  opacity: 0;
}
.skill-icon-item:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  color: #292929;
  font-size: .8rem;
  line-height: 1rem;
  text-align: center;
  border-radius: 3px;
  padding: 3px;
  position: absolute;
  z-index: 1;
  top: -30px;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-family: 'Mulish';
  font-weight: bold;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}